@import "./Vars.scss";
@import "./components/Media.scss";
body{
    color: white;
    font-family: $theme-font;
    margin:0;
    background-color: $main-color;
}
  
  * {
    box-sizing: border-box;
  }